body{
    overflow:hidden;
    margin:0px; padding:0px;
    background-color: #000000;
    color: #FFFFFF;
    font-family: 'Roboto', sans-serif;
    width: 100vw;
    height: 100vh;
    background: linear-gradient(-45deg, #EE7752, #E73C7E, #23A6D5, #23D5AB);
	background-size: 400% 400%;
    animation: Gradient 15s ease infinite;
}


body * {
    position: absolute;
    display: block;
    box-sizing: border-box;
    background-repeat: no-repeat;
    z-index: 1;
}

block{
    background-image: url(../images/block.png);
    background-size: contain;
    width: 200px;
    height: 200px;
    cursor: pointer;
    left: 42vw;
    top: 35vh;
    transform-origin: 50% 50%;
    z-index: 10;
    transition: all 100ms ease-in-out;
}

particle{
    background-image: url(../images/block.png);
    background-size: contain;
    opacity: 0.2;
    width: 30px;
    height: 30px;
}

logo{
    background-image: url(../images/logo.png);
    background-size: contain;
    width: 374px;
    height: 282px;
    cursor: pointer;
    left: 38vw;
    top: 35vh;
    /* transform-origin: 50% 50%; */
    transition: all 200ms ease-in-out;
}

logo:hover{
    transform: scale(1.05, 1.05);
}

i{
    font-size: 30px;
    color: white;
    animation: studentAnimation 2s ease-in-out infinite alternate;
}

i.exit{
    animation: none;
    font-size: 52px;
    cursor: pointer;
    top: 10px;
    right: 25px;
}

i.mute{
    animation: none;
    font-size: 44px;
    cursor: pointer;
    top: 14px;
    right: 85px;
}



i.exit:hover, i.mute:hover{
    color: #ffffff70;
}

p{
    color: #FFFFFF;
    font-size: 24px
}

.shop{
    right: 25px;
    cursor: pointer;
    padding: 10px 20px 10px 50px;
    border: 3px solid #FFFFFF;
    border-radius: 9px;
    width: 300px;
}

.shop i{
    left: 8px;
    font-size: 26px;
}

.shop:hover{
    border: 3px solid #ffffff70;
    color: #ffffffa1;
}

.shop:hover i{
    color: #ffffffa1;
}

.shopTitle{
    top: 36px;
    right: 25px;
    font-size: 30px;
    font-weight: bold;
}

@keyframes studentAnimation {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.1);
    }
    
    100% {
        transform: scale(1);
    }
}

@keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}